.widgetlg{
    flex: 2;
    box-shadow: 27px 32px 26px -21px rgba(187, 186, 186, 0.33);
    padding: 20px;
    margin-right: 20px;
}
.widgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}
.widgetLgTable{
    width: 100%;
    border-spacing: 20px;

}
.widgetLgTh{
    text-align: left;
}
.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}
.widgetLgImg{
    margin-right: 10px;
}
.widgetLgDate ,.widgetLgAmount{
    font-weight: 300;
}
.widgetLgButton.approved{
    background-color: rgb(220, 243, 220);
    color: darkgreen;
}
.widgetLgButton.declined{
    background-color: rgb(230, 201, 201);
    color: darkred;
}
.widgetLgButton.pending{
    background-color: rgb(217, 236, 243);
    color: darkblue;
}