.App {
   
    display: flex; 

  }
  
  body {
    margin: 0;
    background-color: #b5c2ca;
  }
 .Content{
    margin-left: 260px;
    flex: 1; 
    height: 100vh;

 } 
 .Up{
    background-color: white;
    width: 91%;
    height: 90px;
    margin-top: 10px;
    border-radius:15px ;
    margin-left: 30px;
    display: flex;
 }
.Search{
    padding-top: 25px;
    padding-left: 25px;
    width: 50%;
}
.Time{
    padding-top: 35px;
    padding-left: 350px;
    width: 50%;
}

 .Sidebar {
    height: 98%;
    width: 250px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    border: 2px solid lightgray;
    border-radius: 10px ;
    background-color: #f0f3f4;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  
  .custom-input:hover{
    border-color: initial !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .custom-input:focus {
    border-color: initial !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .List {
    flex-grow: 1;
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
    margin-top: 100px;
  }
  
  .Row {
    width: 230px;
    height: 50px;
    list-style-type: none;
    padding-left: 10px;
    position: relative;
        margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; 
    color: rgb(88, 86, 86);
  }
  .ActiveRow {
    padding-left: 0px;
    width: 300px;
    background-color: #b5c2ca;
    color: #333;
    border-radius: 25px;
    pointer-events: none;
  }
 
  
  .Row:hover {
    padding-left: 0px;
    background-color: #33333352; 
    color: #333;
    border-radius: 25px; 
  }
  .Icon {
    margin-right: 10px;
  }
  
  .Title {
    font-size: 16px;
  }
  
  .SidebarImage {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    display: flex;
    align-items: left;
    margin-top: 20px;
    margin-left: 60px;
  }
  
  